@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@import "tailwindcss";
@plugin "daisyui";



.oswald {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.typeWriter{
  overflow: hidden;
  border-right: 0.15em solid #8B5CF6;
  white-space: nowrap;
  width: 0;
  animation: typing 3s steps(20, end) forwards, blink-caret 0.75s step-end infinite;
}
@keyframes typing{
  from { width: 0;}
  to { width: 18ch;}
}
@keyframes blink-caret{
  from, to { border-color: transparent;}
  50% { border-color: #8B5CF6;}
}